ion-content {

  --background: linear-gradient(135deg, #28584f 0%, #3b8d77 100%);
}

.logo {
  padding-top: 16vh;
  width: 100%;
  max-width: 300px;
}

.roll-in-left {
  -webkit-animation: roll-in-left 0.6s ease-out both;
  animation: roll-in-left 0.6s ease-out both;
}

/* Animación para el logo */
@-webkit-keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

/* Estilo para la tarjeta */
ion-card {
  --background: rgba(40, 88, 79, 0.8);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Hacer el título blanco */
.titulo-blanco {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Estilo del botón "Ingresar" */
ion-button.ingresar-btn {
  --background: #463552;
  --border-radius: 10px;
  --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra del botón */
  --transition: all 0.3s ease;
  font-weight: bold;
}

/* Efecto hover: Cambiar el color del botón y aumentar la sombra */
ion-button.ingresar-btn:hover {
  --background: #654578;
  --box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5); 
  transform: scale(1.05);  
}


ion-button.ingresar-btn:active {
  transform: scale(0.95);  
}


ion-item {
  --background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  margin: 10px 0;
}


a {
  color: #00bfff; 
  text-decoration: underline;
  transition: color 0.3s ease;
}

a:hover {
  color: #87cefa; /* Un tono más claro al pasar el ratón */
}
