<ion-content>
  
  <ion-card class="custom-card1">
    <img alt="Silhouette of mountains" src="../../../assets/img/7c5498b423fd6b6308fc1a64993ce6c3.jpg" class="centered-image" />
    <ion-card-header>
      <ion-card-title>Nombre mascota</ion-card-title>
      <ion-card-subtitle>edad</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="card-content">
      
      <span class="event-text">Nuevo evento</span>
      <ion-icon name="add-circle-outline" class="add-icon2"></ion-icon>
    </ion-card-content>
  </ion-card>
  <ion-button class="add-pet-button" expand="block" fill="clear" (click)="goToFormulario()">
    
    <div class="icon-container">
      <ion-icon name="add-outline" class="add-icon"></ion-icon>
    </div>
  </ion-button>
  
</ion-content>
