<ion-header [translucent]="true">
 <ion-toolbar >
  <ion-button routerLink="/inicio-sesion">
    <ion-icon name="arrow-back" slor="icon-only"></ion-icon>
  </ion-button>

 </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <div class="ion-text-center">
      <img class="logo roll-in-left" src="../../../assets/img/logo.png.png" alt="logo">
    </div>
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        recuperar contraseña
      </ion-card-title>
      <ion-card-content>
        <ion-item>
          <ion-input label="email" fill="solid"
           placeholder="ingresa el usuario"
           labelPlacement="floating"
           type="text"
           >
          </ion-input>
        </ion-item>
        <ion-row>
          <ion-col size="12">
            <ion-button (click)="mostrarAlerta()" expand="block" shape="round">Recuperar contraseña</ion-button>
          </ion-col>
          <ion-col size="12">
            <p class="ion-text-center">
              <a routerLink="/inicio-sesion"> ¿ya tienes una cuenta?</a>
            </p>

          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card-header>
  </ion-card> 
</ion-content>

