ion-toolbar{
    --background:#463552 ;
}

ion-content{
    --background:#28584f;
}



.logo{
    padding-top: 16vh;
    width: 100%;
    max-width: 300px;
    --background:#28584f;
}
ion-card{
    --background:#28584f;
}
ion-button{
    --background:#463552;
}